@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url('/main/fonts/Ubuntu.woff2') format('woff2'), url('/main/fonts/Ubuntu.woff') format('woff');
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
}
body > .container {
    padding: 20px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}
