@font-face {
    font-family: "FiraSans-Regular";
    src: url('/assets/fonts/FiraSans-Regular.woff2');
}

@font-face {
    font-family: "FiraMono-Regular";
    src: url('/assets/fonts/FiraMono-Regular.woff2');
}

html {
    font-family: "FiraSans-Regular", sans-serif;
    font-size: 12px;
}
body {
    position: relative;
}

.block-title {
    font-family: "FiraMono-Regular", monospace;
}

.welcome-overlay {
    text-align: center;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    height: 100vh;
}

.night {
    background-image: url("/assets/img/overlay-night.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.evening {
    background-image: url("/assets/img/overlay-evening.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.morning {
    background-image: url("/assets/img/overlay-morning.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.daytime {
    background-image: url("/assets/img/overlay-daytime.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    padding-bottom: 5rem;
}

a:hover.footer {
    border-bottom: 1px dotted;
}

/*
 * Styles for in-browser preview of printable part of webpage.
 *
 */
.print-page-preview {
    width: 210mm;
    height: 297mm;
}
