@font-face {
    font-family: "FiraSans-Regular";
    src: url('/assets/fonts/FiraSans-Regular.woff2');
}

@font-face {
    font-family: "FiraMono-Regular";
    src: url('/assets/fonts/FiraMono-Regular.woff2');
}

html {
    font-family: "FiraSans-Regular", sans-serif;
    font-size: 14px;
}

body {
    position: relative;
}

.page-block {
    page-break-inside: avoid;
    page-break-after: auto
}

@page {
  size: A4;
  margin: 1cm;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
}
